@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims
@using Erp_Blazor.Service.States
@inject IEntiteService EntiteService
@inject EntiteState EntiteState

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="left">
                        <span class="date">📅 @DateTime.Now.ToString("dd/MM/yyyy")</span>
                    </div>

                    <div class="center">
                        @foreach (var entite in Entites)
                        {
                            var isSelected = SelectedEntite?.Id == entite.Id;

                            <span class="entite @(isSelected ? "selected" : "") me-3"
                                  @onclick="@(() => SelectEntite(entite))">
                                @entite.Nom
                            </span>
                        }
                    </div>

                    <div class="right">
                        <span class="me-3">Bonjour, <strong>@DisplayName</strong></span>
                        <a href="logout">Déconnexion</a>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a href="login">Connexion</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    private List<EntiteDTO> Entites= new List<EntiteDTO>();
    private EntiteDTO? SelectedEntite;

    private string DisplayName { get; set; } = "Utilisateur";

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask is not null)
        {
            var authState = await AuthenticationStateTask;
            var user = authState.User;
            if (user.Identity is not null && user.Identity.IsAuthenticated)
            {
                Entites = await EntiteService.GetByIdEmploye(Convert.ToInt32(user.FindFirst(ClaimTypes.NameIdentifier)?.Value));
                SelectEntite(Entites.FirstOrDefault());
            }
        }
    }

    private void SelectEntite(EntiteDTO id)
    {
        SelectedEntite = id;
        EntiteState.SelectedEntiteId =id.Id;
        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (AuthenticationStateTask is not null)
        {
            var authState = await AuthenticationStateTask;
            var user = authState.User;

            if (user.Identity is not null && user.Identity.IsAuthenticated)
            {
                var email = user.FindFirst(ClaimTypes.Email)?.Value;
                var nom = user.FindFirst("nom")?.Value;
                var prenom = user.FindFirst("prenom")?.Value;

                DisplayName = !string.IsNullOrEmpty(prenom) && !string.IsNullOrEmpty(nom)
                    ? $"{prenom} {nom}"
                    : email ?? user.Identity.Name ?? "Utilisateur";
                    
            }
        }
    }
}